*{
    background-color:white;
}

h1.card-title {
    color: aliceblue;
    background-color: rgb(0, 0, 0) !important;
    font-size: medium;
    padding: 10px;
}

.btn.btn-primary:hover {
    background-color: darkgray !important;
}

b1{
    background-color: brown !important;
    border-color: black !important; 
}

b2 {
    color: brown;
    background-color: rgb(184, 243, 21) !important;
    border-color: brown !important;
}

b3 {
    background-color: rgb(42, 165, 77) !important;
    border-color: darkgreen !important;
}

b4 {
    background-color: rgb(42, 122, 165) !important;
    justify-content: right !important;
}

b5 {
    background-color: coral !important;
    border-color: darkgoldenrod !important;
    visibility: hidden;
}

.box1, .box2, .box3 {
    position: relative;
    margin: 5px;
    width: calc(25% - 10px);
    height: 250px;
    background-color: lightgrey;
    border-radius: 10px;
    max-width: 15%;
    padding: 6px;
}

.upper-boxes{
        display: flex;
        justify-content: center;
        border-radius: 10px;
}

.box-title {
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    background-color: lightgray;
    font-size: large;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.lower-box-title {
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    background-color: lightgray;
    font-size: large;
    display: flex;
    justify-content: center;
}

.text {
    color: black;
    background-color: lightgray;
}

.salary-text, .balance-text, .loan-text{
    display: flex;
    justify-content: right;
    background-color: lightgray;
}

.paycontainer, .loancontainer {
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
}

.loancontainer {
    visibility: hidden;
}
.container {
    background-color: lightgray;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    max-width: 46% !important;
}

.container-fluid {
    background-color: black;
}

.features {
    background-color: black;
    display: flex;
    justify-content: left;
    background-color: lightgray;
}

.specs {
    background-color: lightgray;
    display: flex;
    justify-content: left;
    font-size:x-small;
}

.img {
    display: flex;
    justify-content: left;
}

.price-text {
    background-color: lightgray;
    font-size: larger;
    font-weight: bold;
}

.image {
    max-width: 250px;
    max-height: 250px;
    background-color: lightgray;
}

.description {
    background-color: lightgray;
}


